<div class="container">
   <br/>
   <%= link_to "New topic", new_topic_path, class: 'btn btn-primary' %>
   <br/>
   <br/>


  <% @topics.each do |topic| %>
  <div class="well">
   <%= link_to topic.title, topic %>
      <p><% topic.bookmarks.each do |bookmark| %>
      <li><%= bookmark.url %> </li>
     <% end %> </p>
  </div>

  <% end %>
 </div>
</div>
